.nav {
  display: block;
}

.nums {
  display: inline-block;
}

.number {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 100px;
  cursor: pointer;
}

.active {
  background: rgb(151, 149, 149);
  color: black;
  padding: 8px 16px;
  border-radius: 100px;
  cursor: pointer;
  float: left;
  transition: 1s;
}

.prev {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  float: left;
  padding: 8px 16px;
  border-radius: 100px;
  cursor: pointer;
  font-weight: bolder;
}

.next {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  float: right;
  padding: 8px 16px;
  margin-right: 30px;
  border-radius: 100px;
  cursor: pointer;
  font-weight: bolder;
}

.nums a:hover {
  background-color: rgb(57, 54, 54);
}

@media screen and (max-width: 700px) {
  .nums {
    display: none;
  }

  .prev, .next {
    margin-bottom: 20px;
  }
}